<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Project2page.css" />

  </head>

  <body class="flex-column">

    <main class="project2page main" style="--src:url(/assets/55d224651f51d6c2378209e7743e2d7b.png)">
      <section class="aboutMeSection">
        <div class="flex_row">
          <h1 class="logo_title">IFUNANYA BLESSING EGBUNA</h1>
          <h2 class="nav_title">About me</h2>
          <h2 class="nav_title1">Education</h2>
          <h2 class="nav_title1">Projects</h2>
          <h2 class="nav_title1">Contact</h2>
        </div>
      </section>

      <section class="digitalDesignSection">
        <div class="digitalDesignSection1">
          <div class="flex_row1">
            <h1 class="digitalDesignSection_"> bp&#x27;s Digital Design &amp; UX on Forage</h1>
            <img class="image5" src="/assets/f0fdc3c56577d4515fbccdbf36194dc6.png" alt="alt text" />
          </div>
        </div>
      </section>

      <section class="designOverviewSection">
        <div class="flex_col">
          <div class="flex_col1">
            <div class="flex_col2">
              <h1 class="text_container_box">
                <span class="text_container">
                  <span class="text_container_span0">
                    Overview
                    <br />
                  </span>
                  <span class="text_container_span1">
                    I took part in BP’s job simulation on the Forage platform, which provided valuable insights into the experience of working within a digital UX design team. My project focused on researching and developing a single user flow for an  an app tailored for the electric vehicle (EV) industry. BP’s commitment to leading the sustainable energy transition is evident in its recognition of electric vehicles as a key component of the future.
                    <br />
                     
                    <br />
                     
                    <br />
                  </span>
                  <span class="text_container_span2">
                    Onboarding
                    <br />
                  </span>
                  <span class="text_container_span3">I was assigned to conduct user research aimed at helping EV users find and navigate to the nearest charging station. To gain a deeper understanding, I explored popular EV apps, analyzed their features, and reviewed user feedback. This research was instrumental in shaping the user persona detailed below.</span>
                </span>
              </h1>
              <img class="image6" src="/assets/9ffc8f21344f29e64345e425770b25c1.png" alt="alt text" />
              <h2 class="text_container2">I proceeded with creating single user-flow low-fi wireframes to help me concentrate on the basic structure and layout of a design without getting distracted by details like colors, fonts, or images.</h2>
            </div>
            <div class="flex_col3">
              <img class="image7" src="/assets/00391d1d8541cda97c2a84227259c78f.png" alt="alt text" />
              <h2 class="text_container21">I then moved on to creating high-fidelity wireframes, allowing me to focus on the finer details of the design, such as colors, fonts, and imagery, while refining the overall structure and layout.</h2>
            </div>
          </div>
          <div class="flex_col4">
            <div class="placeholder"></div>
            <h1 class="text_container3_box">
              <span class="text_container3">
                <span class="text_container3_span0">
                  Learnings
                  <br />
                </span>
                <span class="text_container3_span1">
                  I have been able to grasp the importance of designing products and services that meet the specific needs and preferences of users.
                  <br />
                  Improved my ability to translate ideas into visual representations through wireframing and prototyping.
                  <br />
                  Getting experience with the digital tool (Figma) used for designing, prototyping, and testing, while preparing for real-world UX design projects.
                </span>
              </span>
            </h1>
          </div>
        </div>
      </section>

      <section class="contactDetailsSection">
        <div class="flex_col5">
          <h1 class="contact_details">CONTACT DETAILS</h1>
          <div class="flex_row2">
            <div class="group">
              <img class="image1" src="/assets/68cf60f4ee7c75ba2b2715fa79eb3c8e.svg" alt="alt text" />
              <h2 class="contactDetailsSection_">Resume</h2>
            </div>
            <div class="group">
              <img class="image1" src="/assets/877a1e4e00e1ee79d18fe509310233ba.svg" alt="alt text" />
              <h2 class="contactDetailsSection_1">E-mail</h2>
            </div>
            <div class="group1">
              <img class="image3" src="/assets/c245e37ddc97db9eeb29e24e71cf1175.svg" alt="alt text" />
              <h2 class="contactDetailsSection_2">LinkedIn</h2>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
