<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Certificationspage.css" />

  </head>

  <body class="flex-column">

    <main class="certificationspage main" style="--src:url(/assets/0e6c452fd8684d05b6bedc62b5cc4839.png)">
      <section class="aboutMeSection">
        <div class="flex_row">
          <h1 class="logo_title">IFUNANYA BLESSING EGBUNA</h1>
          <h2 class="nav_bar">About me</h2>
          <h2 class="nav_bar1">Education</h2>
          <h2 class="nav_bar1">Projects</h2>
          <h2 class="nav_bar1">Contact</h2>
        </div>
      </section>

      <section class="certificationsSection"><h1 class="certifications">CERTIFICATIONS</h1></section>

      <section class="imageGallerySection">
        <div class="flex_col">
          <img class="image5" src="/assets/4b78ad8b82c9936219f1034f9b79154c.png" alt="alt text" />
          <img class="image7" src="/assets/a29c88395fd4cb74f8a6b9c16cff48d4.png" alt="alt text" />
        </div>
      </section>

      <section class="contactDetailsSection">
        <div class="flex_col1">
          <h1 class="contactDetailsSection_">CONTACT DETAILS</h1>
          <div class="flex_row1">
            <div class="contactDetailsSection__">
              <img class="image1" src="/assets/68cf60f4ee7c75ba2b2715fa79eb3c8e.svg" alt="alt text" />
              <h2 class="contactDetailsSection1">Resume</h2>
            </div>
            <div class="contactDetailsSection__">
              <img class="image1" src="/assets/877a1e4e00e1ee79d18fe509310233ba.svg" alt="alt text" />
              <h2 class="contactDetailsSection2">E-mail</h2>
            </div>
            <div class="contactDetailsSection__1">
              <img class="image3" src="/assets/c245e37ddc97db9eeb29e24e71cf1175.svg" alt="alt text" />
              <h2 class="contactDetailsSection3">LinkedIn</h2>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
