<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

  </head>

  <body class="flex-column">

    <main class="untitled-page main" style="--src:url(/assets/427fd2442e475f20f08ad35a058e7c32.png)">
      <section class="aboutMeAndEducationSection">
        <div class="flex_row">
          <h1 class="logo_title">IFUNANYA BLESSING EGBUNA</h1>
          <h2 class="medium_title">About me</h2>
          <h2 class="medium_title1">Education</h2>
          <h2 class="medium_title1">Projects</h2>
          <h2 class="medium_title1">Contact</h2>
        </div>
      </section>

      <div class="nav_title">Projects</div>
      <section class="portfolioSection">
        <div class="flex_col">
          <div class="flex_col1">
            <div class="content_box">
              <div class="flex_col2">
                <h1 class="portfolioSection__">Unsolicited redesigns</h1>
                <button class="btn">
                  <!-- TODO --> 
                  to be updated...
                </button>
              </div>
            </div>
            <div class="content_box1">
              <div class="flex_col3">
                <h1 class="portfolioSection__1"> bp&#x27;s Digital Design &amp; UX on Forage</h1>
                <button class="btn1">
                  <!-- TODO --> 
                  See more
                </button>
              </div>
            </div>
          </div>
          <div class="content_box2">
            <div class="flex_col4">
              <h1 class="portfolioSection__">My portfolio Design</h1>
              <button class="btn2">
                <!-- TODO --> 
                See more
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="contactDetailsSection">
        <div class="flex_col5">
          <h1 class="nav_title1">CONTACT DETAILS</h1>
          <div class="flex_row1">
            <div class="group">
              <img class="image1" src="/assets/68cf60f4ee7c75ba2b2715fa79eb3c8e.svg" alt="alt text" />
              <h2 class="contactDetailsSection__">Resume</h2>
            </div>
            <div class="group">
              <img class="image1" src="/assets/877a1e4e00e1ee79d18fe509310233ba.svg" alt="alt text" />
              <h2 class="contactDetailsSection__1">E-mail</h2>
            </div>
            <div class="group1">
              <img class="image3" src="/assets/c245e37ddc97db9eeb29e24e71cf1175.svg" alt="alt text" />
              <h2 class="contactDetailsSection__2">LinkedIn</h2>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
